<div class="row">
<div clas="col-xs-12  col-sm-2  col-ms-2 col-lg-2">
  <img src="../../../assets/perfilFoto.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">Gomes Fernanda</p>
  <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1> Acerca de mi</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis enim modi repudiandae possimus nobis? Aut ullam aperiam nobis et odio adipisci. Quas nostrum atque dolores obcaecati eveniet nemo reiciendis ipsam!</p>
  </span>
</div>
</div>
